// Header

@use "../base/settings" as *;

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    padding: 2rem 0 1rem 1rem;
    width: 100%;
    z-index: 1000;
    position: relative;

    a{
      color: $text-color-primary;
      text-decoration: none;
      font-weight: 600;
      font-size: larger;
      transition: color 0.3s ease;
      &:hover {
        color: $text-color-accent;
      }
    }

    button {
      background-color: transparent;
      border: none;
      color: $text-color-primary;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $text-color-accent;
      }
    }
      
}