// Header

@use "../base/settings" as *;

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  padding: 2rem 1rem 1rem 2rem;
  width: 100%;
  z-index: 1000;
  position: relative;

  a {
    color: $text-color-primary;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    transition: color 0.3s ease;
    &:hover {
      color: $text-color-accent;
    }
  }

  button {
    background-color: transparent;
    border: none;
    color: $text-color-primary;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $text-color-accent;
    }
  }
}

@media (max-aspect-ratio: 3/4) {
  header {
    gap: 1rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    flex-wrap: wrap;
  }

  a {
    color: $text-color-primary;
    font-weight: 300;
    font-size: smaller;
  }

  button {
    color: $text-color-primary;
    font-size: 0.75rem;
  }
}

@media only screen and (orientation: portrait) and (max-aspect-ratio: 2) and (max-resolution: 160dpi) {
  header {
    gap: 2rem;
    padding: 3rem 1rem 1rem 2rem;
    flex-wrap: wrap;

    a {
      color: $text-color-primary;
      font-weight: 600;
      font-size: 1.5em;
    }

    button {
      color: $text-color-primary;
      // font-size: 3em;
    }
  }
}

@media only screen and (orientation: landscape) and (min-aspect-ratio: 2) and (min-resolution: 150dpi) {
  header {
    gap: 1rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    flex-wrap: wrap;
  }
}
