@use "../base/settings" as *;

.orb-tree {
  display: block;
  height: 100%;
  width: 100%;
}

.orb-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.orb-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

.orb-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: $text-color-secondary;
  pointer-events: none; // ensures clicks go through to Orb if needed
  text-align: center;
}

.main-orb {
  width: 30%;
  height: 30%;
  color: $orb-color-active;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-orb {
  width: 30%;
  height: 30%;
  color: $orb-color-active;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 100%);
}

.tech-orb {
  width: 30%;
  height: 30%;
  color: $orb-color-active;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 100%);
}

.project-orb {
  width: 20%;
  height: 20%;
  color: $orb-color-active;
  position: absolute;
  bottom: 0%;
  left: 10%;
  transform: translateX(calc(-50% + 100% * (var(--i))));
}

.previous {
  width: 20%;
  height: 20%;
  color: $orb-color-back;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-175%, -100%);
}

.selected {
  width: 30%;
  height: 30%;
  color: $orb-color-active;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.hidden {
  display: none;
}
