@use "../base/settings" as *;

.orb-tree {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.orb-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out,
    height 0.5s ease-in-out, background-color 0.5s ease-in-out,
    /* or color if using text color */ opacity 0.5s ease-in-out;
}

.orbit {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out,
    height 0.5s ease-in-out, background-color 0.5s ease-in-out,
    /* or color if using text color */ opacity 0.5s ease-in-out;
}

.orb-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

.orb-label {
  width: 100%;
  max-height: 90%;
  max-width: 90%;
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 130%;
  text-align: center;
  color: $text-color-secondary;
  pointer-events: none; // ensures clicks go through to Orb if needed
  white-space: wrap;
  overflow: hidden;
}

.main-orb {
  width: 200px;
  height: 200px;
  color: $orb-color-active;
}

.category-orb,
.tech-orb {
  width: 100px;
  height: 100px;
  color: $orb-color-active;
  transform: translate(-50%, 50%);
}

.orbital-selections .orbit {
  --angle: calc(90deg + var(--i) * 30deg); /* 30° spacing */
  --radius: 200px; /* distance from center */

  width: 100px;
  height: 100px;
  color: $orb-color-active;
  transform: rotate(var(--angle)) translate(var(--radius))
    rotate(calc(-1 * var(--angle)));
}

.project-orb {
  opacity: 1;
  width: 20%;
  height: 20%;
  color: $orb-color-active;
  transform: translate(calc(-250% + 100% * (var(--i))), 300%);
}

.previous {
  opacity: 1;
  width: 100px;
  height: 100px;
  color: $orb-color-back;
  transform: translate(-200px, -50px);
}

.selected {
  width: 200px;
  height: 200px;
  color: $orb-color-active;
  transform: translate(-50%, 0%);
  z-index: 1000;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
