@use "../base/settings" as *;

body {
  background-image: url("/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0;
  max-height: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  padding: 0 1rem 0 1rem;
}

.main-content {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;

  .orb-tree-container {
    position: relative;
    height: 100%;
    flex: 1;
  }

  .search-results {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    flex-flow: wrap;
    flex: 1;
    height: 100%;
    overflow: scroll;
  }

  p {
    position: fixed;
    max-height: 50%;
    bottom: 3rem;
    width: 60%;
    right: 50%;
    transform: translateX(50%);
    color: $text-color-primary;
    background-color: $background-color-secondary;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid $border-color-primary;
    transition: opacity 0.3s ease-in-out;
  }
}

.breadcrumbs {
  color: $text-color-primary;
  margin: 0rem 2rem;
  font-size: small;
}

.side-content {
  position: relative;
  padding: 0.3rem;
  background-color: $background-color-secondary;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(108, 243, 255, 0.199);
  width: 0%;
  height: 100rch;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

.side-content.expanded {
  width: 55%;
}

.side-content > * {
  height: 100%;
  border: none;
}

// .side-content * {
//   width: 100%;
// }

.project-content {
  display: grid;
  grid-template-rows: 75% 25%;
  height: 100%;
  opacity: 0;
  animation: fadeInProjectContent 0.5s ease-in-out forwards;
}

@keyframes fadeInProjectContent {
  to {
    opacity: 1;
  }
}

.close-content {
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: 1px solid $border-color-primary;
  border-radius: 8px;
}

.bottom-bar {
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.project-description {
  font-size: larger;
  color: $text-color-primary;
  overflow-y: auto;
}

.iframe-actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

.btn {
  margin: 0;
  border: none;
  height: 4rem;
  width: 6rem;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 4px;
  color: $text-color-secondary;
  background-color: $button-color-primary;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#close-content {
  display: none;
}

//targeting phones and small tablets on portrait
@media (max-aspect-ratio: 3/4) {
  main {
    padding: 0.5rem;
    flex-direction: column;
  }
  .main-content {
    flex-direction: column;

    p {
      bottom: 1rem;
      max-height: 45%;
      width: 90%;
      right: 50%;
      transform: translateX(50%);
      overflow-y: auto;
    }

    .orb-tree-container {
      position: relative;
      width: 100%;
      flex: 1;
    }
  }

  .side-content {
    width: 100%;
    max-width: 100%;
    height: 0%;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .side-content.expanded {
    height: 30%;
    width: 100%;
  }

  .project-content {
    position: fixed;
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: $background-color-secondary;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgb(108, 243, 255);
    top: 2.5%;
    left: 2.5%;
    z-index: 1000;
  }

  #close-content {
    display: flex;
  }

  iframe {
    border: 1px solid $border-color-primary;
  }

  .bottom-bar {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .project-description {
    height: 100%;
    font-size: .9rem;
    color: $text-color-primary;
  }

  .iframe-actions {
    margin-top: 0.5rem;
    width: 100%;
    justify-content: space-around;
  }

  .btn {
    border: none;
    height: 3rem;
    width: auto;
    padding: 0.5rem 1rem;
  }
}

//targeting tablets on portrait
@media only screen and (orientation: portrait) and (max-aspect-ratio: 2) and (max-resolution: 160dpi) {
  .main-content {
    p {
      bottom: 10vh;
      font-size: 1.5rem;
      overflow-y: auto;
    }
  }

  .project-description {
    font-size: 1.2rem;
    color: $text-color-primary;
  }

  .btn {
    font-size: 1rem;
  }
}

//targeting phone on landscape
@media only screen and (orientation: landscape) and (min-aspect-ratio: 2) and (min-resolution: 150dpi) {
  .main-content {
    p {
      position: absolute;
      max-height: 100%;
      top: 1rem;
      bottom: 1rem;
      right: 1rem;
      margin: auto;
      transform: translateX(0);
      width: 60%;
      overflow-y: auto;
    }

    .search-results {
      gap: 0.5rem;
    }
  }

  .bottom-bar {
    margin: 0;
    padding: 0.25rem;
  }

  .project-description {
    height: auto;
    margin: 0;
    font-size: small;
    max-height: 20vh;
    overflow-y: auto;
  }

  .iframe-actions {
    margin: 0;
    width: 100%;
    gap: 0.5rem;
    justify-content: end;
  }

  .btn {
    border: none;
    height: 3rem;
    width: 4rem;
    font-size: small;
    padding: 0.25rem 0.5rem;
  }
}
