@use "../base/settings" as *;

body {
  background-color: $background-color-primary;
  background: linear-gradient(
    135deg,
    $background-color-primary,
    $background-color-primary-gradient
  );
}

main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 2rem;
}

.main-content {
  position: relative;
  flex: 1;
  padding: 1rem;
  margin-top: 2rem; // Adjusted to account for fixed header
  margin-bottom: 2rem; // Adjusted to account for fixed footer

  p {
    position: fixed;
    bottom: 3rem;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: $text-color-primary;
    background-color: $background-color-secondary;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid $border-color-primary;
    font-size: larger;
  }
}

.side-content {
  padding: 0.3rem;
  margin: 1rem;
  background-color: $background-color-secondary;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 55%;
}

.side-content > * {
  height: 100%;
  border: none;
}

.side-content * {
  width: 100%;
}

.project-content {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

iframe {
  height: 100%;
  border: 1px solid $border-color-primary;
}

.bottom-bar{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.project-description {
  font-size: larger;
  color: $text-color-primary;
}

.iframe-actions {
  display: flex;
  gap: 1rem;
}