// Resets
html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

div{
  margin: 0;
  padding: 0;
}